#about {
    background-color: #080808;

    .about-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .current-role {
        font-family: "Lato", sans-serif;
        line-height: 1.3em;
        margin-bottom: 0.7em;
        font-size: 2rem;
        font-weight: 100;
    }
    .brand-stat {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 0.7em;
        font-size: 1.3rem;
    }
    .img-outer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .img-inner-wrapper {
            overflow: hidden;
            .img {
                height: 260px !important;
                width: 340px;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        text-align: center;

        .wrapper {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 600px) {
    #about {
        .title {
            margin-top: 50px;
        }
        .current-role {
            font-size: 1.5rem !important;
        }
        .brand-stat {
            font-size: 1.2rem !important;
        }
        .image,
        .img {
            height: 250px !important;
            width: 300px !important;
        }
    }
}
