.container {
    display: block;
    padding: 20% 9% 8%;

    .current-role {
        font-family: "Lato", sans-serif;
        line-height: 1.3em;
        margin-bottom: 0.7em;
        font-size: 2rem;
        font-weight: 100;
    }

    .brand-stat {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 0.7em;
        font-size: 1.3rem;
    }

    .wrapper {
        overflow: hidden;

        .img {
            height: 260px !important;
            width: 340px;
            margin-top: 15px;
            display: block;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        text-align: center;
        // padding: 15% 9% 8%;

        .wrapper {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-top: 0% !important;
    }
}

@media screen and (max-width: 600px) {
    .current-role {
        font-size: 1.5rem !important;
    }

    .brand-stat {
        font-size: 1.2rem !important;
    }

    .image,
    .img {
        height: 250px !important;
        width: 300px !important;
    }
}
