.title {
    font-family: "Libre Franklin", sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.8rem !important;
    }
}
