#portfolio {
    text-align: center;

    .title {
        margin: 50px;
        font-family: "Jura", sans-serif !important;
        font-size: 3rem !important;
    }
    .filter-container {
        padding: 20px;

        .filter-item {
            display: inline-block;
        }
    }
    .MuiTab-root {
        width: 3%;
        margin: auto;
    }
}

.MuiTabs-indicator {
    background-color: #0101ff !important;
}

@media screen and (max-width: 900px) {
    .MuiTab-root {
        width: 110px !important;
    }
}

@media screen and (max-width: 767px) {
    #portfolio {
        text-align: center;
        .title {
            font-size: 2rem !important;
        }
    }
}

@media screen and (max-width: 600px) {
    #portfolio {
        text-align: center;
        .title {
            font-size: 1.5rem !important;
            margin: 100px 0 20px;
        }
        .MuiTabs-root {
            margin-top: 15px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    #portfolio {
        text-align: center;
        .title {
            font-size: 1.2rem !important;
        }
        .filter-container {
            padding: 0 !important;
        }
    }
}
